{% extends "avance_academico/base.html" %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        {% for materia in materias_disponibles %}
            <li>
                    <a href="{% url 'avance_academico:detail-materia' materia.id %}"
                       class="btn btn-info"> {{ materia.nombre }} </a>
                    <a href="{% url 'avance_academico:verifica-inscripcion' materia.id %}"
                       class="btn btn-info"> Anotarse </a>

                </li>
        {% endfor %}
    </body>
    </html>
{% endblock %}