{% extends "avance_academico/base.html" %}
{% block content %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

        <title>Filtro de elementos</title>
           <style>
            body.modal-open nav {
                visibility: hidden;
            }
        </style>
    </head>

    <body>
    <div id="urlBase" data-url=""></div>
    <div id="materia_list" {{ materia_list }}></div>

    {% if materia_list %}

        <input type="text" name="buscador" id="buscador" placeholder="Buscar...">
        <ul>
            {% for materia in materia_list %}
                <li class="materia" id="materia" data-nombre="{{ materia.nombre }}">{{ materia.nombre }}
                    <button class="btn btn-success detail-btn" data-materia-id="{{ materia.id }}">Detalle</button>

                </li>
            {% endfor %}
            <input type="submit" id="submit" value="Enviar">

        </ul>
        <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel"> Detalle Materia</h5>
                        <button type="button " id="close" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>

                    </div>
                    <div class="modal-body">
                        <form id="detailForm">
                            <!-- Los campos del form los vamos a llenar de forma dinamica con JS -->
                        </form>
                    </div>
                    <div class="modal-footer">

                        <button type="button" id="cerrar" class="btn btn-secondary" data-bs-dismmis="modal"> Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>


    {% else %}
        <p></p>
    {% endif %}

    </body>
    </html>

    <script>
    function abrirModal() {
            document.body.classList.add('modal-open');
            // Tu lógica para abrir el modal
        }

        function cerrarModal() {
            document.body.classList.remove('modal-open');
            // Tu lógica para cerrar el modal
        }
        document.addEventListener('DOMContentLoaded', function () {
            var detailButton = document.querySelectorAll('.detail-btn');
            detailButton.forEach(function (button) {
                button.addEventListener('click', function () {
                    var materiaId = this.getAttribute('data-materia-id');
                    var url = `{% url 'avance_academico:detail-materia' 0 %}`.replace('0', materiaId);
                    document.body.classList.add('modal-open');

                    fetch(url)
                        .then(response => response.text())
                        .then(html => {
                            document.getElementById('detailForm').innerHTML = html;
                            var modal = new bootstrap.Modal(document.getElementById('detailModal'));
                            modal.show();
                            document.getElementById('close').addEventListener('click', function () {
                                modal.hide();
                            })
                            document.getElementById('cerrar').addEventListener('click', function () {
                                modal.hide();
                            })
                        })
                         .then(data => {
                                        //cerrar el modal, hacer refresh, mostrar un cartelito de algo
                                        var modal = bootstrap.Modal.getInstance(document.getElementById('detailModal'));
                                        modal.hide();
                                        document.body.classList.remove('modal-open');

                                        //aca puede ir el refresh del template de lista de profesor.
                                    })
                        .catch(error => console.error('Error:', error));

                });
            });
            var input = document.getElementById("buscador");
            input.addEventListener("keyup", function () {
                var filtro = input.value.toLowerCase();
                var items = document.querySelectorAll('.materia');
                var encuentra = false;
                items.forEach(function (item) {
                    if (item.dataset.nombre.toLowerCase().includes(filtro)) {
                        item.style.display = "";
                        encuentra = true;

                    } else {
                        item.style.display = "none";
                    }
                });
                document.getElementById('submit').addEventListener('click', function (e) {
                    if (encuentra) {

                        Swal.fire({
                            title: "Genial",
                            text: "Se encontró una materia",
                            imageUrl: 'https://www.lacomuderacing.com/wp-content/uploads/2019/09/El-Cilindro-de-Avellaneda.jpg',
                            imageWidth: 400,
                            imageHeight: 200,
                            imageAlt: "Custom image"
                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "No se encontró ninguna materia",
                        });
                    }
                })
            })
        })


    </script>

{% endblock %}
