{% extends "avance_academico/base.html" %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    {% if materia_list %}

        <ul>
            {% for materia in materia_list %}

                <li>
                  <div style="font:small">{{ materia.nombre }} <a
                          href="{% url 'avance_academico:detail-materia' materia.id %}"
                          class="btn btn-primary btn-sm"> Detalle </a></div>

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p></p>
    {% endif %}
    </body>
    </html>
{% endblock %}