<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% if profesor_list %}
<ul>
    {% for profesor in profesor_list %}
        <li><a href="{% url 'avance_academico:detail-profesor' profesor.id%}"
                   class="badge badge-secondary"> {{ profesor.nombre_profesor }}  {{profesor.apellido_profesor }} </a>
        </li>
        <a href = "{% url 'avance_academico:edita profesor' profesor.id%}"class="btn btn-warning"> Editar</a>
    {% endfor %}
{% else %}
    <p></p>
{% endif %}
</ul>
</body>
</html>